<form>
  <div class="form-group">
    <label class="control-label">Label</label>
    <input type="text" ng-model="label" validator="[required]" class="form-control"/>
  </div>
  <div class="form-group">
    <label class="control-label">Description</label>
    <input type="text" ng-model="description" class="form-control"/>
  </div>
  <div class="form-group">
    <label class="control-label">Options</label>
    <textarea class="form-control" rows="3" ng-model="optionsText"></textarea>
  </div>
  <hr/>
  <div class="df-accordeon panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel sidebar_section">
      <div class="panel-heading" role="tab" id="heading{{$index}}">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-target="#collapsePoints">
            Points
          </a>
        </h4>
      </div>
      <div id="collapsePoints" class="panel-collapse collapse df-points" role="tabpanel" aria-labelledby="heading{{$index}}">
        <div class="panel-body">
          <ng-form class="form-group points-form">
            <div class="form-group df-weight">
              <label class="control-label truncate" for="pwd">Weight:</label>
              <input type="number" class="form-control" ng-model="weight" placeholder="0">
            </div>
            <hr>
            <div ng-repeat="item in options track by $index" class="df-percentage">
              <label class="control-label truncate" for="pwd">{{item.text}}:</label>
              <input type="number" class="form-control" ng-model="item.value" placeholder="0" validator="[maxPointsInOption, number]" validator-group="options">
            </div>
            <div>
              <div class="col-sm-offset-5 col-sm-7">
                <button type="submit" class="btn btn-primary"ng-click="submitPoints(options)">Save</button>
              </div>
            </div>
          </ng-form>
        </div>
      </div>
    </div>
  </div>
  <div ng-include="'app/components/builder/templates/shared/dependency.html'"></div>
  <div class="form-group">
    <a ng-click="duplicate()" class="btn btn-primary"> Duplicate </a>
    <a ng-click="cancel()" class="btn btn-default"> Cancel </a>
    <a ng-click="remove()" class="btn btn-danger"> Delete </a>
  </div>
</form>
