<div class="form-group">
  <label for="{{formName+index}}" class="col-sm-4 control-label" ng-class="{'df-required':required}">
    {{label}}
  </label>
  <div class="col-sm-8">
    <input type="hidden" ng-model="inputText" validator-required="{{required}}" validator-group="{{formName}}"/>
    {{inputText}}
    <div class="checkbox" ng-repeat="item in options track by $index">
      <label>
        <input type="checkbox" ng-model="$parent.inputArray[$index]" ng-true-value="'{{item.key}}'" ng-false-value="false"/>
        {{item.text}}
      </label>
    </div>
    <p class="help-block">{{description}}</p>
  </div>
</div>
