<ul class="pagination">
  <li ng-class="prevPageDisabled()">
    <a href ng-click="firstPage()">«« First</a>
  </li>
  <li ng-class="prevPageDisabled()">
    <a href ng-click="prevPage()">« Prev</a>
  </li>
  <li ng-repeat="n in range()" ng-class="{active: n == currentPageNumber}" ng-click="setPage(n)">
    <a href>{{n+1}}</a>
  </li>
  <li ng-class="nextPageDisabled()">
    <a href ng-click="nextPage()">Next »</a>
  </li>
  <li ng-class="nextPageDisabled()">
    <a href ng-click="lastPage()">Last »»</a>
  </li>
</ul>
