.df-tabs-container .tab-pane {padding-top: 15px;}
.tabbable-line.tabs-below > .tab-content {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding-bottom: 15px;
    height: 600px;
    overflow-y: scroll;
}
.action-buttons {
  position: fixed;
  bottom: 0;
  margin-bottom: 0 !important;
  width: inherit;
  margin-left: -15px;
  padding: 15px;
}
