body>.container {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
}
.example-container {
  overflow-y: hidden;
  height: 100%;
}
.toolbox-container {
  display: block;
  border-right: 1px solid #ccc;
  width: 20% !important;
  float: none;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.toolbox-container .panel {
  box-shadow: none;
}
.form-workarea-container {
  position: fixed;
  right: 0;
  bottom: 85px;
  top: 50px;
  padding: 20px 15px;
  transition: left 250ms ease-in-out;
  overflow: auto;
  width: 80% !important;
  height: 100%;
}
.form-workarea-container hr {
  border-top: 1px dashed #c0c0c0;
}

.tabbable-line {
  width: 100%;
}
.tabbable-line.tabs-below .nav-tabs {
    border: 1px solid #ddd;
    border-top: 0;
    background-color: #fff;
    height: 45px;
    overflow-y: auto;
  }

.df-tabs-container .tab-pane {padding-top: 15px;}
.tabbable-line.tabs-below > .tab-content {
    padding-bottom: 15px;
    max-height: 100%;
    min-height: 300px;
    overflow-y: scroll;
}
.action-buttons {
  position: fixed;
  bottom: 0;
  margin-bottom: 0 !important;
  width: inherit;
  margin-left: -15px;
  padding: 15px;
}

.width-80 {
  width: 80%;
}

.action-buttons .nav > li > a {
    padding: 12px 9px;
}
