html {
  overflow: hidden;
}
.full-height {
  height: 100%;
}
.form-control {
  font-size: 12px;
}
.btn-lg {
  font-size: 13px;
}
.well{
  height: 62px;
  padding: 11px;
  border-radius: 0px;
  box-shadow: none;
}
.navbar-default {
  background-color: #004974;
  border-color: #183854;
  color: #fff;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-weight: 200;
  text-transform: uppercase;
}
body>.container {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
}
.example-container {
  overflow-y: hidden;
  height: 100%;
  font-size: 12px;
}
.example-title {
  padding-left: 12px;
  font-weight: 200;
  text-transform: uppercase;
}
.toolbox-container {
  display: block;
  border-right: 1px solid #ccc;
  width: 350px !important;
  float: none;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.toolbox-container .panel {
  box-shadow: none;
}
.form-workarea-container {
  position: fixed;
  right: 0;
  bottom: 85px;
  top: 92px;
  padding: 20px 15px 165px;
  transition: left 250ms ease-in-out;
  overflow: auto;
  width: calc(100% - 350px);
  height: 100%;
}
.form-workarea-container hr {
  border-top: 1px dashed #c0c0c0;
}
.points-form label {
  margin-bottom: 0px !important;
}

.points-form .form-block {
  float: right;
  padding-bottom: 10px;
}
.tabbable-line {
  width: 100%;
}
.tabbable-line.tabs-below .nav-tabs {
    border: 1px solid #ddd;
    border-top: 0;
    background-color: #fff;
    height: 45px;
    overflow-y: auto;
  }

.df-tabs-container .tab-pane {padding-top: 15px;}
.toolbox-container .tab-content {
  padding-bottom: 15px;
  max-height: 100%;
  min-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: -15px;
  padding-right: 20px;
  padding-bottom: 210px;
}
.action-buttons {
  position: fixed;
  bottom: 0;
  margin-bottom: 0 !important;
  width: inherit;
  margin-left: -15px;
  padding: 15px;
}

.width-80 {
  width: 80%;
}

.action-buttons .nav > li > a {
    padding: 12px 9px;
}
