// SHARED
.df-shared {
  // GENERALS STYLES
  // input {width: 100% !important;border-radius: 3px !important;}
  a {cursor: pointer;}
  [contenteditable^="true"] {border-bottom: 1px dashed #ddd;}
  .popover {
    .control-label {
      text-align: left;
    }
    form {
      width: 240px;
    }
  }
}

.df-drag-container {
  // DRAGZONE
  div.dragzone-tab-container {
    padding: 20px !important;
    .dragzone-element {min-height: 125px;margin-top: 10px;background-color: #f7f7f7; padding-bottom: 15px; padding-right: 30px;}
    .dragzone-element:hover {background-color: #e3e9f3;}
    .dragzone-element>i.fa-ellipsis-v { font-size: 20px; color: #b5b2b2;position: absolute;right: 0; top: 50%;padding: 3px 14px;}
    .dragzone-element>i.fa-ellipsis-v:hover { cursor: ns-resize; color: #dadada;}
    .dragzone-element .dragzone {height: 125px;width: 100%;margin: auto; left: 0; right: 0; position: absolute;padding: 25px;border: 2px dashed rgba(73, 86, 109, 0.38);}
    .dragzone-element .dragzone h4 {text-align: center;}
    .dragzone-element .dragzone button {position: absolute;left: 0;right: 0;margin: auto !important;}
    .dragzone-element .dragzone .add-button { list-style-type: none; display: inline-block; zoom: 1; -moz-box-sizing: border-box; box-sizing: border-box; width: 49%; max-width: 200px; line-height: 2em!important; padding: 4px; margin: 2px 0 0 0; font-size: 11px; text-decoration: none; text-align: center; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; border: 1px solid #49566d; cursor: pointer; background-image: linear-gradient(180deg, #a3b5d4, #7d90b3); color: #f3f3f3;}
    .dragzone-element .radio label,
    .dragzone-element .checkbox label {min-height: 20px;padding-left: 20px;margin-bottom: 0;font-weight: normal;cursor: pointer;font-size: 15px;}
  }
}


// TABS INPUTS
.df-accordeon {
  ul { padding: 3%;}
  .panel-body {
    li.fa-ellipsis-v:before { float: right; font-size: 15px; color: #b5b2b2; }
    li {
      list-style-type: none;display: inline-block;zoom: 1;background-color: white;-moz-box-sizing: border-box;box-sizing: border-box;width: 49%;max-width: 200px;line-height: 2em !important;padding: 4px;margin: 2px 0 0 0;font-size: 11px;vertical-align: top;list-style-type: none;text-align: left;-webkit-border-radius: 3px;-moz-border-radius: 3px; -ms-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px;border: 1px solid #ddd;
      >i { padding: 0 6px; }
    }
    li:hover {cursor: hand; cursor: grab;cursor: -webkit-grab;cursor: -moz-grab;cursor: -ms-grab; }
  }

}
