<!doctype html>
<html ng-app="deformExamples" class="full-height">
  <head>
    <meta charset="utf-8">
    <title>angularDeforms</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!--   <link rel="stylesheet" href="../css/angular-sweetnotifier.min.css" charset="utf-8"> -->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body ng-app="deformExamples" class="full-height">
    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">DEFORM EXAMPLE</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
          <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="builder">Builder</a></li>
            <li><a ui-sref="render">Render</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="example-container full-height" ng-controller="DemoController">
      <hr/>
      <div ui-view class="full-height"></div>
    </div>



    <script type="text/ng-template" id="/partial-builder.html">
      <div class="toolbox-container full-height">
        <div class="inputs-container df-tabs-container full-height">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"  class="active">
              <a role="tab" data-target="#inputs" data-toggle="tab" aria-controls="inputs">Inputs</a>
            </li>
            <li role="presentation">
              <a role="tab" data-target="#page" data-toggle="tab" aria-controls="page">Pages</a>
            </li>
            <li role="presentation">
              <a role="tab" data-target="#survey" data-toggle="tab" aria-controls="survey">Survey</a>
            </li>
            <li role="presentation">
              <a role="tab" data-target="#options" data-toggle="tab" aria-controls="options">Options</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content full-height">
            <div role="tabpanel" class="tab-pane fade active in" id="inputs">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <p class="help"> <i class="fa fa-hand-paper-o"></i> Drag elements to build »</p><br>
                  <div df-components></div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="survey">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <div class="form-group">
                    <label>Titulo</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Descripcion</label>
                    <textarea rows="8" cols="35" class="form-control"></textarea>
                    <p class="help-block">Opcional</p>
                  </div>
                  <div class="form-group">
                    <label>Display</label>
                    <select class="form-control" ng-model="formDisplay" ng-change="changeFormBuilderDisplay(formDisplay)">
                      <option value="single">Single</option>
                      <option value="wizard">Wizard</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Categories</label>
                    <tags-input ng-model="tags" on-tag-added="addTag($tag)" on-tag-removed="removetag($tag)"></tags-input>
                    <p class="help-block">Opcional</p>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="page">
              <div df-page-editable></div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="options">
              <div df-object-editable="default"></div>
            </div>

          </div>
        </div>
        <div class="action-buttons well">
          <a href="#" class="btn btn-warning btn-lg" data-toggle="tooltip" data-placement="top" title="Publish"> Add Question <i class="glyphicon glyphicon-pushpin"></i></a>
          <a href="#" class="btn btn-primary btn-lg" data-toggle="tooltip" data-placement="top" title="Save"> Save <i class="glyphicon glyphicon-floppy-disk"></i></a>
        </div>
      </div>

      <div class="form-workarea-container">
        <div df-form-builder="$parent.form"></div>
      </div>
    </script>

    <script type="text/ng-template" id="/partial-render.html">
      <div class="form-container full-height">
        <div class="col-md-6">
          <div ng-model="data" df-form="form" custom-actions="customActions" on-submit-success="$parent.submitForm"></div>
        </div>
        <div class="col-md-3 full-height json-container">
          <div class="well full-height">
            <json-explorer data="form" collapsed="false"></json-explorer>
          </div>
        </div>
        <div class="col-md-3 full-height json-container">
          <div class="well full-height">
            <json-explorer data="data" collapsed="false"></json-explorer>
          </div>
        </div>
      </div>
    </script>


    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials}) scripts/examples-bundler.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->



  </body>
</html>
