<div class="panel sidebar_section df-dependency" ng-if="activatorsFormObjects.length">
  <div class="panel-heading" role="tab" id="heading{{$index}}">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-target="#collapseDependency">
        Dependency
      </a>
    </h4>
  </div>
  <div id="collapseDependency" class="panel-collapse collapse"  ng-class="{ 'in': $parent.colapseDependency }" role="tabpanel" aria-labelledby="heading{{$index}}">
    <div class="panel-body">
      <ng-form>
        <div class="form-group">
          <div class="col-sm-offset-5 col-sm-7">
            <label>
              <input type="checkbox" ng-model="dependentFrom['active']"> show if the answer is
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label truncate col-sm-5">select question:</label>
          <div class="col-sm-7">
            <select ng-disabled="!dependentFrom['active']" ng-model="dependentFrom['formObjectKey']" class="form-control" ng-options="fo.key as fo.label group by fo.page for fo in activatorsFormObjects">
              <option value=""><i>-Select dependency-</i></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label truncate col-sm-5">select answer:</label>
          <div class="col-sm-7">
            <select ng-disabled="!dependentFrom['formObjectKey']" ng-model="dependentFrom['formAnswerKey']" class="form-control" ng-options="o.key as o.text for o in dependencyOptions">
              <option value=""><i>-Select option-</i></option>
            </select>
          </div>
        </div>
      </ng-form>
    </div>
  </div>
</div>
