<div class="df-shared">

    <div class="row">
      <div class="col-md-12 col-sm-12">
        <!-- start accordeon -->
        <div class="df-accordeon panel-group" ng-if="groups.length > 1" aria-multiselectable="true">
          <div class="panel sidebar_section" ng-repeat="group in groups track by $index">
            <div class="panel-heading" role="tab" id="heading{{$index}}">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-target="#collapse{{$index}}">
                  {{group}}
                </a>
              </h4>
            </div>
            <div id="collapse{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{$index}}" ng-class="{'in':$index == 0}">
              <div class="panel-body">
                <div class="row">
                  <ul>
                    <li ng-repeat="component in components" class="fa fa-ellipsis-v" fb-component="component">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end accordeon -->
      </div>
    </div>

</div>
