<div class="tabbable-panel">
  <div class="tabbable-line tabs-below row">
    <div class="tab-content">
      <div class="tab-pane fade" ng-class="{ 'active in' : currentPage.index == $index }" ng-repeat="page in pages" id="page_{{$index}}">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container dragzone-tab-container">
          <h3 class="fb-title-form" contenteditable="true">
            {{page.title}}
          </h3>
          <h5 class="fb-title-form" contenteditable="true">
            {{page.description}}
          </h5>
          <hr>
          <!-- http://stackoverflow.com/questions/14561676/angularjs-and-contenteditable-two-way-binding-doesnt-work-as-expected -->
          <div fb-builder="{{page.form.name}}"></div>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs">
      <li ng-class="{ 'active': currentPage.index == $index }" ng-repeat="page in pages" ng-click="chagePage($index)">
        <a data-target="page_{{$index}}" data-toggle="tab" aria-controls="page_{{$index}}">
          Página {{$index + 1}}
        </a>
      </li>
    </ul>
  </div>
</div>
