<div class="tabbable-panel df-shared">
  <div class="tabbable-line tabs-below">
    <div class="tab-content">
      <div class="tab-pane fade row" ng-class="{ 'active in' : builder.getCurrentPage().index == $index }" ng-repeat="page in pages" id="page_{{$index}}">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container dragzone-tab-container">
          <h3 class="df-title-form" contenteditable="true" ng-model="page.title"></h3>
          <h5 class="df-title-form" contenteditable="true" ng-model="page.description"></h5>
          <div df-builder="{{page.form.name}}">
          </div>
        </div>
      </div>
    </div>
    <div class="action-buttons well pagination-container">
      <df-paginator></df-paginator>
    </div>
  </div>
</div>
