<div class="tabbable-panel">
  <div class="tabbable-line tabs-below row">
    <div class="tab-content">
      <div class="tab-pane active fade in" id="tab_below_1">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container dragzone-tab-container">
          <h2 contenteditable="true">
            Titulo de pagina<br/>
            <small>Descripción de ejemplo en pagina</small>
          </h2>
          <!-- http://stackoverflow.com/questions/14561676/angularjs-and-contenteditable-two-way-binding-doesnt-work-as-expected -->

          <div class="dragzone-element col-md-12 col-sm-12">
            <i class="fa fa-ellipsis-v"></i>
            <h4 contenteditable="true">
              Titulo input<br/>
              <small>Descripción de ejemplo</small>
            </h4>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email">
              </div>
          </div>
          <div class="dragzone-element col-md-12 col-sm-12">
            <i class="fa fa-ellipsis-v"></i>
            <h4 contenteditable="true">
              Titulo input <br/>
              <small>Descripción de ejemplo</small>
            </h4>
              <div class="form-group">
                <input type="file" id="exampleInputFile">
              </div>
          </div>
          <div class="dragzone-element col-md-12 col-sm-12">
            <i class="fa fa-ellipsis-v"></i>
            <h4 contenteditable="true">
              Titulo input <br/>
              <small>Descripción de ejemplo</small>
            </h4>
            <textarea class="form-control" rows="3"></textarea>
          </div>
          <div class="dragzone-element col-md-12 col-sm-12">
            <i class="fa fa-ellipsis-v"></i>
            <h4 contenteditable="true">
              Titulo input <br/>
              <small>Descripción de ejemplo</small>
            </h4>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="">
                Option one is this and that&mdash;be sure to include why it's great
              </label>
            </div>
            <div class="checkbox disabled">
              <label>
                <input type="checkbox" value="" disabled>
                Option two is disabled
              </label>
            </div>
          </div>
          <div class="dragzone-element col-md-12 col-sm-12">
            <i class="fa fa-ellipsis-v"></i>
            <h4 contenteditable="true">
              Titulo input <br/>
              <small>Descripción de ejemplo</small>
            </h4>

            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Option one is this and that&mdash;be sure to include why it's great
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Option two can be something else and selecting it will deselect option one
              </label>
            </div>
            <div class="radio disabled">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                Option three is disabled
              </label>
            </div>
          </div>
          <div class="dragzone-element col-md-12 col-sm-12">
            <i class="fa fa-ellipsis-v"></i>
            <h4 contenteditable="true">
              Titulo input <br/>
              <small>Descripción de ejemplo</small>
            </h4>
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="dragzone-element col-md-12 col-sm-12">
            <i class="fa fa-ellipsis-v"></i>
            <div class="dragzone">
              <h4>ARRASTRA ELEMENTOS AQUÍ</h4>
              <button href="#" class="add-button">
                AGREGAR ELEMENTO
              </button>
            </div>
          </div>

        </div>
      </div>
      <div class="tab-pane fade" id="tab_below_2">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container dragzone-tab-container">
          <h2 contenteditable="true">
            Titulo de pagina<br/>
            <small>Descripción de ejemplo en pagina</small>
          </h2>
          <div class="dragzone-element col-md-12 col-sm-12">
            <i class="fa fa-ellipsis-v"></i>
            <div class="dragzone">
              <h4>ARRASTRA ELEMENTOS AQUÍ</h4>
              <button href="#" class="add-button">
                AGREGAR ELEMENTO
              </button>
            </div>
          </div>

        </div>
      </div>
      <div class="tab-pane fade" id="tab_below_3">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container dragzone-tab-container">
          <h2 contenteditable="true">
            Titulo de pagina<br/>
            <small>Descripción de ejemplo en pagina</small>
          </h2>

          <div class="dragzone-element col-md-12 col-sm-12">
            <i class="fa fa-ellipsis-v"></i>
            <h4 contenteditable="true">
              Titulo input<br/>
              <small>Descripción de ejemplo</small>
            </h4>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email">
              </div>
          </div>
          <div class="dragzone-element col-md-12 col-sm-12">
            <i class="fa fa-ellipsis-v"></i>
            <h4 contenteditable="true">
              Titulo input <br/>
              <small>Descripción de ejemplo</small>
            </h4>
              <div class="form-group">
                <input type="file" id="exampleInputFile">
              </div>
          </div>
          <div class="dragzone-element col-md-12 col-sm-12">
            <i class="fa fa-ellipsis-v"></i>
            <h4 contenteditable="true">
              Titulo input <br/>
              <small>Descripción de ejemplo</small>
            </h4>
            <textarea class="form-control" rows="3"></textarea>
          </div>
          <div class="dragzone-element col-md-12 col-sm-12">
            <i class="fa fa-ellipsis-v"></i>
            <div class="dragzone">
              <h4>ARRASTRA ELEMENTOS AQUÍ</h4>
              <button href="#" class="add-button">
                AGREGAR ELEMENTO
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
    <ul class="nav nav-tabs">
      <li class="active">
        <a data-target="#tab_below_1" data-toggle="tab" aria-controls="tab_below_1">
          Página uno
        </a>
      </li>
      <li class="">
        <a data-target="#tab_below_2" data-toggle="tab" aria-controls="tab_below_2">
          Página dos
        </a>
      </li>
      <li>
        <a data-target="#tab_below_3" data-toggle="tab" aria-controls="tab_below_3">
          Página tres
        </a>
      </li>
    </ul>
  </div>
</div>
